/*
 --- TSG Thunderbird userChrome.css ---
 Applies customizations to the appearance of the Thunderbird mail client
 Customizations need to be above the namespace line
 https://forums.mozillazine.org/viewtopic.php?p=14959758#p14959758
 TODO GitHub
 */


/*
 VARIABLES
 */

:root {
  /* My purple: #7170bc */

  /* Too light for some text, good for UI accents */
  --t-accent-light: #7170bc;
  /* 7% lighter than accent-dark */
  --t-accent: #565591;
  /* Good shade to be readable on white */
  --t-accent-dark: #49487a;
  /* 5% darker than accent-dark */
  --t-accent-dark-2: #3f3e6a;
  /* 5% darker than accent-dark-2 */
  --t-accent-dark-3: #35355a;
}


/*
 TITLE BAR
 */

/* 
 Pushes the window min, max, and close buttons to the
 right side of the title bar.
 */
#unifiedToolbarContainer .titlebar-buttonbox-container {
  order: 1000 !important;
  margin-left: auto !important;
}


/*
 TAB BAR
 */

/* https://www.reddit.com/r/FirefoxCSS/comments/x7fozh/change_tab_line_color_in_thunderbird/inevrob/ */

/*
 Adds subtle thin line between the tab bar and the messenger
 body, which makes the selected tab's outline appear flush
 with the rest of the tab bar.
 */
#messengerBody {
  /* outline: 1px solid lightgray; */
  outline: 1px solid var(--t-accent-light);
}

/*
 Adds a thin vertical line separating most of the window from
 the spaces sidebar, which contains tabs for messages, contacts,
 calendar, etc.
 */
/* #spacesToolbar { */
  /* Originally identical with variable pointing to --spaces-bg-color */
  /* border-right: 1px solid var(--tsg-light-purple, --spaces-bg-color) !important; */
  /* position: relative; */
/* } */

/*
 Adds subtle thin border to horizontal edges of selected tabs.
 Falls back to current color if needed, which appears to be
 the same white used by the rest of the tab bar's line.
 */
.tab-background[selected] {
  border-inline: 1px solid var(--t-accent-light, currentColor) !important;
}

/*
 Adds thick top border to selected tabs. The thickness of
 the line conceals the smaller Thunderbird blue line
 underneath it, so turning down will reveal it.
 */
.tab-content[selected] {
  border-top: 1px solid var(--t-accent-light) !important;
}

/* 
 Replaces blue overline inside of the active tab
 */
.tab-line {
  /* ORIGINAL
  height: 2px;
  margin-top: 3px;
  margin-inline: 3px;
  border-radius: 3px;
  */
  
  &[selected="true"] {
    background-color: var(--t-accent-light) !important;
  }
}


/*
 UNIFIED TOOLBAR
 */

/*
 Removes the unified toolbar? TODO Not sure what this is
 https://www.elevenforum.com/t/thunderbird-115-css-customization.16320/post-341092
 */
#unifiedToolbar {
	display: none !important;
}


/*
 FOLDER LIST
 */

/* While Selected - Make sure icons are visible */
#folderTree li.selected  > .container {
	background-color: var(--t-accent-dark-2) !important;
	color: white !important;
}

/* On Hover */
#folderTree li > .container:hover {
	background-color: var(--t-accent-dark) !important;
	color: white !important;
}


/*
 MESSAGE PANE
 */

/* While Selected */
tr.selected {
  background-color: var(--t-accent-dark-2) !important;
	color: white !important;
}

/* On Hover */
tr:hover {
  background-color: var(--t-accent-dark) !important;
	color: white !important;
}

/*
 MESSAGE WARNINGS
 */

/*
 Removes horrible yellow warning that appears
 for nearly every message, notably junk and
 those with remote content.
 */
:host(notification-message[type="warning"]).text-content, div.container, div.content {
  --message-bar-background-color: #27272a;
  --message-bar-text-color: #c6c6ca;
  border-radius: 0px !important;
}

/*
 "NEW MESSAGE" BUTTON
 https://www.reddit.com/r/Thunderbird/comments/15xxjwh/userchromecss_only_selectively_applying_in_tb_115/
 */

/*
 Border was none originally, but there was an ugly
 blue border which wasn't controlled by this
 selector. I overlayed a thin border of the same
 color.
 */
#folderPaneWriteMessage {
  background-color: var(--t-accent-dark) !important;
  border: none !important;
}

/*
 I added this hover selector which mirrors the
 above selector.
 */
#folderPaneWriteMessage:hover {
  background-color: var(--t-accent) !important;
  border: none !important;
}

/* 
 Removes
 */
#folderTree li [data-server-type] > .container > .name {
  /* font-weight: normal !important; */
  font-weight: 400 !important;
}

/*
 * DO NOT REMOVE LINE -- Required for correct functioning
 */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* set default namespace to XUL */